---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Erreur 404">
    <main>
        <div class="content">
            <h1>
                Erreur 404 : Page not found
            </h1>
            <p>
                La page que vous chezchez à joindre n'existe pas. Merci de me contacter.
            </p>
        </div>
    </main>
</Layout>

<style>
    .content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

    }

    p {
        text-align: center;
    }
</style>